src/main/mule/implementation/trigger-full-load.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
    <flow name="pf-post-trigger">
        <json-logger:logger-scope doc:name="Logger scope" doc:id="622eb62e-d254-4ab4-a761-d21dea412c29" configurationRef="JSON_Logger_Config" scopeTracePoint="FLOW_LOGIC_SCOPE" correlationId="#[vars.rra_transaction_id]">
            <ee:transform doc:name="DW: Return Response" doc:id="f54fd153-5a22-4196-9537-b602fc546da8" >
                <ee:message >
                    <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  module: vars.moduleName default p('artifactId'),
  code: 202,
  status: "ACTIVE",
  message: "Successfully kicked off full SF load",
  details: "Invoked async operation POST:/trigger",
  requestTimestamp: vars.startTimestamp default now(),
  responseTimestamp: now()
}]]></ee:set-payload>
                </ee:message>
                <ee:variables >
                    <ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
202]]></ee:set-variable>
                </ee:variables>
            
</ee:transform>
            <async doc:name="Async" doc:id="94875bbb-3bed-4b7f-90a5-0bf1a63d14a0" >
                <flow-ref doc:name="Call SignalFire Full Load" doc:id="31b8a7d3-50c9-438a-9cd3-40415d95c2d7" name="pf-sf-signalfire-full-load"/>
                <flow-ref doc:name="Call Caffeinated Capital Full Load" doc:id="46c5fe3f-9bd9-45cc-a84c-69c5922fd68a" name="pf-sf-caffeinatedcapital-full-load"/>
                <flow-ref doc:name="Call Demo Full Load" doc:id="d78ed8b1-47bc-4976-9625-0b59c9414297" name="pf-sf-demo-full-load"/>
            </async>
        
</json-logger:logger-scope>
        <error-handler ref="common-error-handler" />
    </flow>
 </mule>
